:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --promo-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --border-bottom-color: #eeeeee;
  --padding-standart: 94px 0px;
  --soc-icon-color: AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* -----------------HEADER----------------- */

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* -----------------CONNECTION----------------- */

.connection-list {
  display: flex;
  margin-left: auto;
}

.connection-list .connection-item + .connection-item {
  margin-left: 50px;
}

.connection-mail,
.connection-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.connection-mail:hover,
.connection-mail:focus {
  color: var(--accent-color);
}

.connection-tel:hover,
.connection-tel:focus {
  color: var(--accent-color);
}

/* ------------------HERO-------------------- */

.hero {
  max-width: 1600px;
  margin: 0px auto;
  display: block;
  padding: 200px 0px;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0px auto;
  padding-bottom: 30px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 696px;
  color: var(--hero-text-color);
}

.hero-btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;

  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-accent-color);
}

.button {
  cursor: pointer;
}

/* ------------------BENEFITS-------------------- */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

.benefits-features {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.benefits-bottom-text {
  margin: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  max-width: 270px;
  max-height: 75px;
}

/* ------------------PROMO-------------------- */

.promo {
  padding-bottom: 94px;
}

.promo-list {
  display: flex;
}

.promo-list .promo-item + .promo-item {
  margin-left: 30px;
}

.promo-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------------ABOUT------------------- */

.about {
  background-color: var(--promo-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-list {
  display: flex;
}

.about-list .about-item + .about-item {
  margin-left: 30px;
}

.about-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-name {
  margin: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-bottom-text {
  margin: 0px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.about-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ------------------ICON------------------- */

.teammate-soc-list {
  display: flex;
  justify-content: center;
}

.teammate-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.teammate-soc-item :last-child {
  margin-right: 0px;
}

.teammate-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teammate-soc-link:hover,
.teammate-soc-link:focus {
  background-color: var(--accent-color);
}

.teammate-soc-link:hover .teammate-soc-icon,
.teammate-soc-link:focus .teammate-soc-icon {
  fill: var(--third-text-color);
}

.teammate-soc-icon {
  fill: rgba(175, 177, 184, 1);
}

/* ------------------FOOTER------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--footer-background-color);
}

.logo-footer {
  padding-top: 0px;
  padding-bottom: 20px;
}

.logo-color {
  color: var(--hero-text-color);
}

/* ------------------CONTACTS------------------- */

.footer-address {
  font-style: normal;
}

.footer-list .footer-item + .footer-item {
  margin-top: 9px;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/* ------------------PORTFOLIO------------------- */

/* ------------------FILTER------------------- */

.filter {
  padding: 94px 0px;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--promo-background-color);
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

/* ------------------PROJEKT------------------- */

.projekt-list {
  display: flex;
  flex-wrap: wrap;
}

.projekt-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-bottom-color);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border-bottom-color);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--border-bottom-color);
}

.projekt-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projekt-item:nth-child(3n) {
  margin-right: 0px;
}

.ready-projects {
  padding: 20px 24px;
}

.projekt-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.projekt-bottom-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.projekt-name,
.projekt-bottom-text {
  margin: 0px;
}

/* :root{
--text-color:#212121;
--second-text-color:#757575;
--third-text-color:#FFFFFF;
--hero-text-color:#FFFFFF;
--hero-background-color:#2F303A;
--accent-color:#2196F3;
--second-accent-color:#188CE8;
--promo-background-color:#F5F4FA;
--footer-background-color:#2F303A;
 */
